<div class="content_heading">Change Password</div>
<div class="fullwrap">
	<div class="wrap_indi">
		<div class="each_text">Old Password <span class="stardiv">*</span></div>
		<input type="password" class="each_box" placeholder="Enter your old password" ng-model='pass.old'>
	</div>
	<div class="wrap_indi">
		<div class="each_text">New Password <span class="stardiv">*</span></div>
		<input type="password" class="each_box" placeholder="Enter your new password" ng-model='pass.new'>
	</div>
	<div class="wrap_indi">
		<div class="each_text">Confirm New Password <span class="stardiv">*</span></div>
		<input type="password" class="each_box" placeholder="confirm your new password" ng-model='pass.conf'>
	</div>
	<div class="wrap_indi send_req_cls">
		<div class="main_button" style="width:180px;" ng-click='pass_change()'>Change Password</div>
	</div>
</div>
<div class="loader_wrap" ng-show="showloader"><div class="loading"></div></div>