<div class="menu">
	<div class="container">
		<div class="menu_indi">
			<a ui-sref="govt.main"><div class="menu_item">HOME</div></a>
		</div>
		<div class="menu_indi">
			<div class="menu_item">TRANSACTIONS</div>
			<div class="sub_menu">
				<a ui-sref="govt.trans"><div class="menu_subitem">Cheques List</div></a>
			</div>
		</div>
		<div class="menu_indi">
			<div class="menu_item">REPORTS</div>
			<div class="sub_menu">
				<a ui-sref="govt.chqconflist"><div class="menu_subitem">Confirmed Cheques list</div></a>
				<a ui-sref="govt.allacslist"><div class="menu_subitem">Account wise Balances & LOCs</div></a>
			</div>
		</div>
		<div class="menu_indi">
			<div class="menu_item">GENERAL</div>
			<div class="sub_menu">
				<a ui-sref="govt.password"><div class="menu_subitem">Change Password</div></a>
				<div class="menu_subitem" ng-click='logout()'>Logout</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="welcome">Welcome {{username}}</div>
		<div ui-view="content"></div>
	</div>
</div>