
<div class="wrap_indi" style="margin:0px;">
	<p class="lst_ex_acs">List of Mapped STOs</p>
</div>
<div class="wrap_indi" ng-show="stousers.length==0">
	<p class="noactnt_p othe_cls_p"><span class="stardiv">*</span>There are no STO accounts created please create them and then proceed to mapping, To create a SA account go to MASTERS>>Create user Account</p>
</div>
<div class="wrap_indi" ng-show="stousers.length!=0">
	<p class="noactnt_p"><span class="stardiv">*</span>Select the concerned ATO/DD you want the STOs to be mapped to, the transactions(LOC requests/Cheques/Cheque Book Requests etc..) forwarded from these STOs will be directly sent to the mapped ATO/DD that you map the STO to!</p>
</div>
<table class='each_table'  ng-show="stousers.length>0">
	<tr class='heading_row fnt_wht_bld'>
		<td>Sno</td>
		<td>STO</td>
		<td>Mapped to (ATO/DD username)</td>
	</tr>
	<tr ng-repeat="x in stousers">
		<td>{{$index+1}}</td>
		<td>{{x.userdesc}}</td>
		<td>
			<select class="each_select" ng-model="x.mapuser" ng-options = "y.username as y.userdesc for y in othusers">
			</select>	
		</td>
	</tr>
</table>

<div style="margin:auto;width:331px;">
	<div class="main_button crt_usr_cls" style="margin-top:20px;" ng-click="save_map()"  ng-show="stousers.length>0">Save Changes</div>
</div>


<div class="loader_wrap" ng-show="showloader"><div class="loading"></div></div>