<div class="content_heading">Change DDO Name</div>
<div class='fullwrap'>
	<div class="wrap_indi">
                <div class="each_text">Select Pd Administrator</div>
                <select class='each_select' ng-model='pdadmin' ng-change="admin_change()">
                        <option value="select">SELECT</option>
                        <option value="{{ddo.ddocode}}" ng-repeat="ddo in ddolist">{{ddo.usernames.userdesc+'    ( '+ddo.ddocode+' )'}}</option>
                </select>
        </div>
	 <div class="wrap_indi">
                <div class="each_text">DDO Name</div>
                <input type="text" class="each_box" placeholder="Enter DDO Name" autocomplete="off" ng-model='ddoname'>
        </div>
	 <div class="wrap_indi send_req_cls">
               <div class="main_button" ng-click="edit_ddo()">Change</div>
        </div>
</div>
</div>
<div class="loader_wrap" ng-show="showloader"><div class="loading"></div></div>
