<div class="content_left">
	<h3 class="lt_nws_h2_cls">Contact</h3>
	<p class="cont_txt"><span class="stardiv">*</span>
		This application is a propreitary software of the Finance Department of Andhra Pradesh. <br>
		All the queries will be scrutinized and resolved by the District Treasury Office, Hyderbaad. To write to us please fill in the below form and click on submit.
	</p>
	<div class="contact_form">
		<div class="cnt_fll_dv">
			<div class="cnt_desc">
				<p style="font-size: 15px;">Enter Your Name:</p>
			</div>
			<div class="inp_mn_dv">
				<input type="text" class="cont_inp" >
			</div>
		</div>
		<div class="cnt_fll_dv">
			<div class="cnt_desc">
				<p style="font-size: 15px;">Enter Your Email ID:</p>
			</div>
			<div class="inp_mn_dv">
				<input type="text" class="cont_inp" >
			</div>
		</div>
		<div class="cnt_fll_dv">
			<div class="cnt_desc">
				<p style="font-size: 15px;">Enter Your Phone No:</p>
			</div>
			<div class="inp_mn_dv">
				<input type="text" class="cont_inp" >
			</div>
		</div>
		<div class="cnt_fll_dv">
			<div class="cnt_desc">
				<p style="font-size: 15px;">Subject</p>
			</div>
			<div class="inp_mn_dv">
				<input type="text" class="cont_inp" >
			</div>
		</div>
		<div class="cnt_fll_dv">
			<div class="cnt_desc">
				<p style="font-size: 15px;">Your Query:</p>
			</div>
			<div class="inp_mn_dv" style="height:auto;margin-top:15px;">
				<textarea class="txtarea_cnt_frm"></textarea>
			</div>
		</div>
		<div class="cnt_submit_dv">
			<button class="main_button ex_cls_cnt_btn">Submit</button>
		</div>
	</div>
</div>