<div class="content_left">
	<h3 class="lt_nws_h2_cls">Latest News</h3>
	<div class="lat_full_dv_cl">
		<div class="mn_nws_dv">
			<p>
				1. Please use the Online Query system to contact the admin team, all queries will be resolved in 2 working days! 
			</p>
		</div>
		<div class="dt_time_dv">
			<span class="dt_spn">Date: 13-09-2014</span> 
			<span class="dt_spn">Time: 9:34 PM</span>
		</div>
	</div>
	<div class="lat_full_dv_cl">
		<div class="mn_nws_dv">
			<p>
				2. Please read the user manual in your respective logins to understand all the features better
			</p>
		</div>
		<div class="dt_time_dv">
			<span class="dt_spn">Date: 13-09-2014</span> 
			<span class="dt_spn">Time: 9:34 PM</span>
		</div>
	</div>
</div>