
<div class="chqinput_cnt">

	<h3>ADD/Delete Multiple CHEQUE </h3>

	<div class="inputbox">
		USER ID: <input type="text" ng-model="pduser" />
	</div>
	<div class="inputbox">
		From Cheque number: <input type="text" ng-model="chqnofrm" />
	</div>
	<div class="inputbox">
		To Cheque number: <input type="text" ng-model="chqnoto" />
	</div>
	<div class="inputbox" style="margin-top:18px;">
		<button ng-click="addmultiplechq(pduser,chqnofrm,chqnoto)">ADD CHEQUES</button>
	</div>
	<div class="inputbox" style="margin-top:18px;">
		<button ng-click="deletemultiplechq(pduser,chqnofrm,chqnoto)">DELETE CHEQUES</button>
	</div>
	
</div>

<div class="clear" style="height:20px;"></div>
<hr>
<h3 class="h3_your_up_cls">
	<span>Users cheque inventory</span>
	
</h3>
<div class="inputbox">
		USER ID: <input type="text" ng-model="userchq" />
</div>
<div class="inputbox" style="margin-top: 18px;">
	<button ng-click="getchqlist(userchq)">Get cheques list</button>
</div>
<table border="1" cellpadding="5" class="tbl_my_upl_main_cls" ng-show="chqlist">
	<tr class="tbl_my_up_trh">
		<th>S.No</th>
		<th>User</th>
		<th>Cheque number</th>
		<th>Used flag</th>
	</tr>
<tr ng-repeat="chq in chqlist">
	<td>{{$index+1}}</td>
	<td>{{chq['user']}}</td>
	<td>{{chq['chequeno']}}</td>
	<td>{{chq['usedflag']}}</td>
</tr>

</table>

<div class="loader_wrap" ng-show="showloader"><div class="loading"></div></div>