<div class="content_heading">LOC Report</div>
<div class='fullwrap'>
	<div class="wrap_indi">
		<div class="each_text">Select Area</div>
		<select class='each_select' ng-model='areamain' ng-change="area_change()">
			<option value="select">SELECT</option>
			<option value="{{area.areacode}}" ng-repeat="area in arealist">{{area.areaname}}</option>
		</select>
	</div>
	<div class="wrap_indi">
		<div class="each_text">Select STO/DTO</div>
		<select class='each_select' ng-model='stomain' ng-change="sto_change()">
			<option value="select">SELECT</option>
			<option value="{{sto.username}}" ng-repeat="sto in stolist">{{sto.userdesc+'( '+sto.username+' )'}}</option>
		</select>
	</div>
	<div class="wrap_indi">
		<div class="each_text">Select PD Administrator</div>
		<select class='each_select' ng-model='ddomain'>
			<option value="select">SELECT</option>
			<option value="all">ALL</option>
			<option value="{{ddo.username}}" ng-repeat="ddo in ddolist">{{ddo.userdesc+'( '+ddo.username+' )'}}</option>
		</select>
	</div>
	<div class="wrap_indi">
		<p style="font-famliy:arial;font-size:12px;clear:both;"><span class="stardiv">*</span>Please select the dates and click on search to show the LOC report in between those dates</p>
		<div style="width:150px;float:left;">
			<span class="frm_to_chq">From</span>
			<input type="text" class="dt_slct" id="fdate">
		</div>
		<div style="width:150px;float:left;">
			<span class="frm_to_chq">To</span>
			<input type="text" class="dt_slct" id="tdate">
		</div>
		<div style="width:150px;float:left;">
			<button class="scrh_chqs_conf_btn" ng-click="get_loc_rpt('1')" style="margin-top:26px;">Search</button>
		</div>
	</div>
</div>
<div class="fullwrap">
<div class="tot_dv totamounttext" style="display:none;width:97.5%;">
	<h4 style="margin:10px 0;">Report Summary</h4>
	<div class="report_sum_indi">
	Total LOCs: {{chqlistall}}
	</div>
	<div style="clear:both;height:10px;"></div>
	<div class="report_sum_indi">
	Total requested loc amount(Rs.): <span class="totreqamount"></span>
	</div>
	<div class="report_sum_indi">
	Total granted loc amount(Rs.): <span class="totgrantamount"></span>
	</div>
	<div style="clear:both;height:10px;"></div>
	<div class="report_sum_indi">
	Total pending loc amount(Rs.): <span class="totpendingamount"></span> 
	</div>
	<div class="report_sum_indi">
	Total rejected loc amount(Rs.): <span class="totrejectedamount"></span>
	</div>
</div>
	<table class='each_table' ng-show='loclist.length>0'>
		<tr class='heading_row'>
			<th>Sno</th>
			<th>Request User</th>
			<th>Hoa</th>
			<th>Requested Amount</th>
			<th>Granted Amount</th>
			<th>Request Date</th>
			<th>Grant/Reject Date</th>
			<th>Reference No</th>
			<th>Status</th>
			<th>Remarks</th>
		</tr>
		<tr ng-repeat="trans in loclist" ng-show="$index+1<=30">
			<td>{{trans.pagenumber}}</td>
			<td>{{trans.requser.userdesc+'('+trans.requestuser+')'}}</td>
			<td>{{trans.schemes.schemename+'('+trans.hoa+')'}}</td>
			<td>{{trans.reqamount}}</td>
			<td>{{trans.grantamount}}</td>
			<td>{{Dates.getDate(trans.requestdate)}}</td>
			<td>{{Dates.getDate(trans.ddtime)}}</td>
			<td>{{trans.refno}}</td>
			<td>{{trans.rems}}</td>
			<td>{{trans.remarks}}</td>
		</tr>
	</table>
	<div class="wrap_indi" ng-show="loclist.length==0 && ddomain!='select'">
		<div class="each_desc">
			* No LOC found.
		</div>
	</div>

	<div class="paginationwrap" ng-show="loclistall>30">
		<div class="indipageno" thispageno="{{page}}" ng-click="get_loc_rpt(page)" ng-repeat="page in pagination" ng-show="$index+1>1">{{page}}</div>
	</div>
</div>
<div class="loader_wrap" ng-show="showloader"><div class="loading"></div></div>
