<div class="content_heading">Panchayat Raj HQ - Abstract Cheque Report</div>
<div class="wrap_indi">
		<p style="font-famliy:arial;font-size:12px;clear:both;"><span class="stardiv">*</span>Please select the dates and click on search to show the Cheque report in between those dates</p>
		<div style="width:150px;float:left;">
			<span class="frm_to_chq">From</span>
			<input type="text" class="dt_slct" id="fdate">
		</div>
		<div style="width:150px;float:left;">
			<span class="frm_to_chq">To</span>
			<input type="text" class="dt_slct" id="tdate">
		</div>
		<div style="width:150px;float:left;">
			<button class="scrh_chqs_conf_btn" ng-click="get_abs_chq_rpt()" style="margin-top:26px;">Search</button>
		</div>
	</div>
</div>
